#dateSelectorWrap {
	z-index:9999; 
	position:absolute; left:100px; top:100px; 
	border:1px solid #ccc;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; 
	display:none; 
	background-color:#fff; 
	padding:2px; 
	width:200px;
}

#dateSelectorWrap a {text-decoration:none;}

.monthNav           {background-color:#fff; width:100%;}
.curMonth           {font:bold 11px arial; text-align:center; height:20px;}
.monthLink a        {font:10px verdana; color:#369; padding:3px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; 
}
.monthLink a:hover  {background:#999; color:#fff;}
.monthLink.next     {text-align:right;}

.monthDays          {border-collapse:separate; border-spacing:1px;}
.monthDays thead td {font:bold 10px verdana; color:#eee; background-color:#666; padding:2px 0px; text-align:center;}
.monthDays tbody td {font:10px verdana,arial; text-align:right; background-color:#ccc; width:26px; height:20px;}
.monthDays .blank   {background-color:#eee;}
.monthDays .day           {background-color:#ddd;padding:3px;}
.monthDays .day.today     {background-color:#ccc;font-weight:bold;}
.monthDays .day a         {color:#369; display:block;}
.monthDays .day a:hover   {font-weight:bold;}
.monthDays .selectedDay   {background-color:#999;}
.monthDays .selectedDay a {color:#fff; width:90%; height:auto; display:block;}

.subLinks    {background-color:#fff; padding-top:3px;}
.subLinks a  {font:10px verdana; color:#369; padding:3px;}
.dateSel-closeButton {text-align:right;}
